* {
    margin: 0;
}

.container {
    max-width: 1199px;
    margin: 100px auto;
    font-size: 12px;
    line-height: 150%;
    font-family: system-ui;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    color: #fff;
    background-color: #000000c7;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.63);
}

.current-day-forecast,
.details,
.weekly-forecast-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.hourly-forecast-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    height: 162px;
    display: flex;
}

.slider-line {
    width: 2400px;
    text-align: center;
    position: relative;
    display: flex;
    right: 0;
    transition: all ease 0.5s;
}


.none {
    display: none;
}

.fact-hour {
    text-align: center;
    display: block;
    margin: 15px auto;
    width: 100px;
}

.fact-hour img {
    margin: 0 auto;
    height: 60px;
}

.swiper-button-prev {
    left: 0px;
    background-image: url("/icons/arrow-left.svg");

}

.swiper-button-next {
    right: 0px;
    background-image: url("/icons/arrow-right.svg");
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    border-radius: 20px;
    top: 290px;
    z-index: 1;
    width: 35px;
    height: 75px;
    background-size: 35px 75px;
    opacity: 0.65;
    border: 1px solid black;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(243, 243, 243, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(243, 243, 243, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(243, 243, 243, 0.2) inset;
    border-radius: 20px;
}

.bg {
    position: absolute;
   
    z-index: -1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    filter: blur(10px);
}

.city {
    font-size: 50px;
    font-weight: 600;
}

.degrres {
    font-size: 25px;
    line-height: 130%;
    font-weight: 600;
}

.day-of-the-week {
    text-align: center;
    width: 150px;
    height: 260px;
    border-radius: 5px;
    margin: 5px;
    transition: height 0.3s
}

.day-of-the-week:hover {
    background-color: #5a5a5a61;
    height: 255px;
    border-radius: 20px;
}

.day {
    margin-top: 10px;
}

.forecast-of-the-selected-day-widget {
    display: none;
    animation-name: animTwo;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    height: 130px;
}

.hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 110px;
    padding: 5px;
    text-align: center;
}

.week-day,
.sunrise-sunset,
.humidity-day,
.pressure-day,
.wind-speed,
.uvi {

    height: 35px;
    width: 162px;

}

.lenghtday-icon>img:nth-child(1) {
    display: block;
    bottom: 24px;
    position: relative;
    margin: 0 auto;
    width: 70px;
}

.sunriseday-icon>img:nth-child(1) {
    display: block;
    position: relative;
    left: 10px;
}

.sunrise-day {
    display: block;
    position: relative;
    right: 57px;
    bottom: 47px;
}

.sunset-day {
    display: block;
    position: relative;
    bottom: 65px;
    left: 58px;
}

.sunsetday-icon>img:nth-child(1) {
    display: block;
    position: relative;
    bottom: 45px;
    left: 125px;
    bottom: 43px;
}

@keyframes animTwo {
    0% {
        display: block;
        margin: 0 auto;
        height: 10px;
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        display: block;
        margin: 0 auto;
        height: 110px;
    }
}

div.day-of-the-week:nth-child(1)>div:nth-child(3),
div.day-of-the-week:nth-child(2)>div:nth-child(3),
div.day-of-the-week:nth-child(3)>div:nth-child(3),
div.day-of-the-week:nth-child(4)>div:nth-child(3),
div.day-of-the-week:nth-child(5)>div:nth-child(3),
div.day-of-the-week:nth-child(6)>div:nth-child(3),
div.day-of-the-week:nth-child(7)>div:nth-child(3),
div.day-of-the-week:nth-child(8)>div:nth-child(3) {
    margin: 10px;
    height: 35px;
}


/* ------------------------------------------------------------------------------------------- */



@media (max-width: 576px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0px auto;
        font-size: 12px;
        line-height: 150%;
        font-family: system-ui;
        border-radius: 0px;
        position: relative;
        z-index: 2;
        color: #fff;
        background-color: #000000c7;
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.63);
    }

    .current-day-forecast,
    .details,
    .weekly-forecast-widget {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }

    .city {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }

    .icon>img:nth-child(1) {
        height: 70px;
        margin: 10px;
    }

    .degrres {
        font-size: 15px;
        line-height: 130%;
        font-weight: 600;
        text-align: center;
    }

    .current-day-forecast {
        min-height: 33%;
        z-index: 6;
    }



















    div.day-of-the-week:nth-child(1)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(2)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(3)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(4)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(5)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(6)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(7)>div:nth-child(2)>img:nth-child(1),
    div.day-of-the-week:nth-child(8)>div:nth-child(2)>img:nth-child(1) {
        width: 50px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}